.filterResult {
  padding-top: 35px;
  padding-bottom: 50px;

  & .numberFound {
    font-size: 22px;
    font-weight: 400;
    line-height: 31.61px;
  }
}

.filters {
  display: flex;
  gap: 20px;

  .dropdown {
    background-color: #fff;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;

  }
}